<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src=" https://use.fontawesome.com/c6aa276571.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="../css/home.css" rel="stylesheet">
    <script src="../js/home.js"></script>
</head>
<body ng-app = "HomeApp">

    <div class="container" ng-controller="TwitterLoginController" ng-init="getUser()" id = "notLogged">
        <div class="wrap">
            <a href="/getToken"><i class="fa fa-twitter fa-3x"></i></a>
        </div>
    </div>
    <div class="component"  ng-controller="GetBooksController" ng-init="getBooks()" class = "container" id = "loggedIn">

        <div id = "header"  ng-include="'view/header.html'"></div>
        <div class="container" id = "profile" ng-include="'view/profile.html'" style="display: none;"></div>
        <div class="container" id = "searchResults"  ng-include="'view/searchResults.html'" style="display: none;"></div>
        <div id = "bookDisplay"  ng-include="'view/bookDisplay.html'"></div>
        <div id = "textHolder"  ng-include="'view/textHolder.html'" style="display: none;"></div>
        <div id="bookListHolder" ng-include="'view/bookList.html'"></div>
        <div class="modal fade" id="bookListModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="bookList in user.bookLists">
                            <button ng-click="addBookToBookList(bookList.id, bookId)">{{bookList.title}}</button>
                        </div>
                        <form>
                            <input type="text" name="title" ng-model="bookListForm.title" placeholder="Title:"/>
                            <button type="button" ng-click="addBookList()">Create Book List</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>