<center><i class="fa fas fa-plus" data-toggle="modal" data-target="#addModal" id="addButton"></i></center>
<div class="modal fade" id="addModal" role="dialog" ng-controller="AddBookController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <input type="text" name="title" ng-model="myForm.title" placeholder="Title:" class="formField" />
                    <input type="text" name="description" ng-model="myForm.description" placeholder="Description:" class="formField" maxlength="1024" />
                    <input type="text" name="authors" ng-model="myForm.authors" placeholder="Author(s):" class="formField" />
                    <select ng-model="myForm.genre" placeholder="Genre:" class="formField">
                        <option value="fantasy">Fantasy</option>
                        <option value="sci_fi">Sci_Fi</option>
                        <option value="romance">Romance</option>
                        <option value="western">Western</option>
                        <option value="thriller">Thriller</option>
                        <option value="mystery">Mystery</option>
                        <option value="detective">Detective</option>
                        <option value="dystopia">Dystopia</option>
                        <option value="other">Other</option>
                    </select>
                    <label class="formFileUpload">
                        <input type="file" file-model="myForm.imageFile" />
                        <i class="fa fas fa-image"></i>
                    </label>
                    <label class="formFileUpload">
                        <input type="file" file-model="myForm.bookFile" />
                        <i class="fa fas fa-book"></i>
                    </label>
                    <br />
                    <button type="button" ng-click="addBook()">Add Book!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="component" ng-controller="AdminController" ng-init="getBooks()" class="container">
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" ng-repeat="book in books" style="margin-top: 40px;">
                <center>
                    <figure class="book">
                        <!-- Front -->
                        <ul class="hardcover_front">
                            <li>
                                <img src="../bookFiles/images/{{book.imageName}}" alt="" width="100%" height="100%" />
                            </li>
                            <li></li>
                        </ul>
                        <!-- Pages -->
                        <ul class="page">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- Back -->
                        <ul class="hardcover_back">
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="book_spine">
                            <li></li>
                            <li></li>
                        </ul>
                    </figure>
                    <div style="text-align: center;">
                        <h3>{{book.title}}</h3>
                        <span ng-repeat="author in book.authors">{{author.name}}<br /></span>
                        <p>{{book.genre}}</p>
                        <a href="" data-toggle="modal" data-target="#editModal{{book.id}}" class="editIcon"><i class="fa fas fa-edit"></i></a>
                        <a href="" data-toggle="modal" data-target="#editPictureModal{{book.id}}" class="editIcon"><i class="fa fas fa-image"></i></a>
                        <a href="" data-toggle="modal" data-target="#editFileModal{{book.id}}" class="editIcon"><i class="fa fas fa-book"></i></a>
                        <a href="" ng-click="deleteBook(book.id)" class="editIcon"><i class="fa fas fa-trash"></i></a>
                    </div>
                </center>
                <div class="modal fade" id="editModal{{book.id}}" role="dialog" ng-controller="EditBookController">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data">
                                    <input type="text" name="title" ng-model="editForm.title" placeholder="{{book.title}}" class="formField" />
                                    <input type="text" name="description" ng-model="editForm.description" placeholder="{{book.description}}" maxlength="1024" class="formField" />
                                    <input type="text" name="authors" ng-model="editForm.authors" class="formField" /><br />
                                    <span>Current Authors:</span><br />
                                    <span ng-repeat="author in book.authors">{{author.name}}<br /></span>
                                    <select ng-model="editForm.genre" placeholder="{{book.genre}}" class="formField" class="formField">
                                        <option value="fantasy">Fantasy</option>
                                        <option value="sci_fi">Sci_Fi</option>
                                        <option value="romance">Romance</option>
                                        <option value="western">Western</option>
                                        <option value="thriller">Thriller</option>
                                        <option value="mystery">Mystery</option>
                                        <option value="detective">Detective</option>
                                        <option value="dystopia">Dystopia</option>
                                        <option value="other">Other</option>
                                    </select>

                                    <button type="button" ng-click="editBook(book.id)">Edit Book!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editPictureModal{{book.id}}" role="dialog" ng-controller="EditBookController">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data">
                                    <label>Image</label>

                                    <label class="formFileUpload">
                                        <input type="file" file-model="editForm.imageFile" />
                                        <i class="fa fas fa-image"></i>
                                    </label>
                                    <button type="button" ng-click="editPicture(book.id)">Edit Picture!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editFileModal{{book.id}}" role="dialog" ng-controller="EditBookController">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data">
                                    <label>Book File</label>

                                    <label class="formFileUpload">
                                        <input type="file" file-model="editForm.bookFile" />
                                        <i class="fa fas fa-book"></i>
                                    </label>
                                    <button type="button" ng-click="editFile(book.id)">Edit File!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>