<div class = "header">
    <div class="toolbarContent">
        <i class="fa fas fa-times toolbarIcon" id="backButton" ng-click="goBack()"></i>
    </div>
    <div class="toolbarContent">
        <i class="fa fas fa-user toolbarIcon" id="userButton" ng-click="goToProfile()"></i>
    </div>
</div>
<div class="row" style="margin: 6em;">
    <center>
        <h3>Search Results:</h3>
        <br>
        <div class="col-sm-3" ng-repeat="book in searchResults">
            <figure class="book" ng-click="readMode(book.id,0)">
                <ul class="hardcover_front">
                    <li>
                        <img src="../bookFiles/images/{{book.imageName}}" alt="" width="100%" height="100%" />
                    </li>
                    <li></li>
                </ul>
                <ul class="page">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="hardcover_back">
                    <li></li>
                    <li></li>
                </ul>
                <ul class="book_spine">
                    <li></li>
                    <li></li>
                </ul>
            </figure>
            <div>
                <h3>{{book.title}}</h3>
                <span ng-repeat="author in book.authors">{{author.name}}<br /></span>
                <p>{{book.genre}}</p>
            </div>
        </div>
    </center>
</div>
